* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 250, 250);
}

.parte-sup {
    background-color: white;
}

.logo-img {
    vertical-align: middle;
}

.logo-text {
    display: inline;
    vertical-align: middle;
}

.container {
    background-color: white;
    width: 500px;
    height: 900px;
    margin: auto;
    margin-top: 50px;
}